.text-contaniner{
  height: 70vh;
  overflow-y: scroll;
}
.search-input{
  margin-top: 20px;
  margin-bottom: 20px;
}
::ng-deep .highlighted-text{
  background-color: yellow;
}
.container{
  display: flex;
}
